.wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 1em;
  border: 1px solid #af111c;
  margin: 1em 0 0;
}
.todo-title {
  display: flex;
  justify-content: center;
}
.todo-list {
  margin: 0;
  padding: 0 0 2em 0;
  list-style-type: none;
}
.todo-list__item {
  display: flex;
  justify-content: space-between;
}
.todo-list__link {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #1e1b1d;
}
.todo-list__link:hover {
  text-decoration: underline;
}
.button {
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  outline: none;
  margin: 1em 0 0 0;
}
