$bloody: #af111c;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 1em;
  border: 1px solid $bloody;
}
.todo-title {
  display: flex;
  justify-content: center;
}
.todo-list {
  margin: 0;
  padding: 0.5em 0;
  list-style-type: none;
}
.todo-list__item {
  display: flex;
  justify-content: space-between;
}
.fulfilled {
  text-decoration: line-through;
}
.bloody {
  color: $bloody;
}
.clickable {
  cursor: pointer;
}
