<div *ngIf='currentTodo' class='wrapper'>
  <h3 class='todo-title'>{{currentTodo.title}}</h3>

  <input type='text' placeholder='Search...' (keyup)='searchTodo()' [(ngModel)]='search'>

  <ul *ngIf='todoToShow' class='todo-list'>
    <li *ngFor='let el of keys(todoToShow)' class='todo-list__item'>
      <span [ngClass]='{fulfilled: isFulfilled(todoToShow[el].id, todoToShow[el].name)}'>{{todoToShow[el].name}}</span>
      <span *ngIf='!isFulfilled(todoToShow[el].id, todoToShow[el].name)' (click)='fulfilTodoEl(todoToShow[el].id, todoToShow[el].name)' ngClass='bloody clickable'>X</span>
    </li>
  </ul>

  <input type='text' placeholder='Add todo...' (keyup)='addTodo($event)'>
</div>
